storj-s3-gateway:
  replicaCount: 1
  image:
    # repository: docker.io/storjlabs/gateway
    # tag: latest (fixed at 14.08.2023)
    #repository: docker.io/storjlabs/gateway@sha256
    #tag: 053863bb84a5ec33ce2b8addf550c15109fdefa634cc252aaef3ec4801f8ad47
    repository: storjlabs/gateway
    tag: 04b9c76-go1.22.5
    #tag: 5359faa-v1.11.0-go1.25rc2
    # repository: docker.io/storjlabs/gateway
    # tag: latest
    # pullPolicy: Always
  args: [ "run" ]
  network:
    http:
      servicePort: 7777
  service:
    type: NodePort        
  resources:
    requests:
      memory: 4Gi
    limits:
      memory: 10Gi
  #podSecurityContext:    
  #  runAsUser: 77777
  #  runAsGroup: 7777
  #securityContext:
  #  runAsUser: 77777
  #  runAsGroup: 7777
  defaultAffinityRules:
    enabled: false
  persistence:
    enabled: true
    accessModes: ReadWriteOnce
    name: storj-data
    size: 5Gi
    annotations:
      pv.kubernetes.io/bound-by-controller: 'yes'
  volumeMounts:
  - mountPath: /root/.local/share/storj/gateway/
    name: storj-config
  - mountPath: /root/.local/share/storj/gateway/minio/
    name: storj-data
  volumes:
  - name: storj-config
    secret:
      secretName: storj-config
