storj-s3-gateway:
  replicaCount: 1
  image:
    repository: storjlabs/gateway
    tag: latest
  args: [ "run" ]
  network:
    http:
      servicePort: 7777
  service:
    type: NodePort        
  resources:
    requests:
      memory: 10Gi
    limits:
      memory: 10Gi
  podSecurityContext:    
    runAsUser: 77777
    runAsGroup: 7777
  #securityContext:
  #  runAsUser: 77777
  #  runAsGroup: 7777
  defaultAffinityRules:
    enabled: false
  persistence:
    enabled: true
    storageClass: openebs-zfspv
    accessModes: ReadWriteOnce
    name: storj-data
    size: 5Gi
    annotations:
      pv.kubernetes.io/bound-by-controller: 'yes'
  volumeMounts:
  - mountPath: /root/.local/share/storj/gateway/
    name: storj-config
  - mountPath: /root/.local/share/storj/gateway/minio/
    name: storj-data
  volumes:
  - name: storj-config
    secret:
      secretName: storj-config
