apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - github.com/argoproj/argo-events/manifests/cluster-install?ref=v1.9.9

patches:
  - target:
      kind: Deployment
      name: eventbus-controller
    patch: |-
      - op: remove
        path: /spec/template/spec/securityContext
  - target:
      kind: Deployment
      name: eventsource-controller
    patch: |-
      - op: remove
        path: /spec/template/spec/securityContext
  - target:
      kind: Deployment
      name: sensor-controller
    patch: |-
      - op: remove
        path: /spec/template/spec/securityContext
  - target:
      kind: Deployment
      name: controller-manager
    patch: |-
      - op: remove
        path: /spec/template/spec/securityContext
