templates:
  dashboard_hostname: "traefik.interpolar.ch"
  dashboard_auth: true
  authsecretname:  traefik-dashboard-user-secret
  http_redirect:
    enable: true

traefik:
  fullnameOverride: traefik

  core:  # @schema additionalProperties: false
    # -- Can be used to use globally v2 router syntax. Deprecated since v3.4 /!\.
    # See https://doc.traefik.io/traefik/v3.0/migration/v2-to-v3/#new-v3-syntax-notable-changes
    # defaultRuleSyntax: "v3"

  gateway:
    # -- When providers.kubernetesGateway.enabled, deploy a default gateway
    enabled: false

  gatewayClass:  # @schema additionalProperties: false
    # -- When providers.kubernetesGateway.enabled and gateway.enabled, deploy a default gatewayClass
    enabled: false

  providers:
    kubernetesCRD:
      # -- Load Kubernetes IngressRoute provider
      enabled: true
      # -- Allows IngressRoute to reference resources in namespace other than theirs
      allowCrossNamespace: true
      # -- Allows to reference ExternalName services in IngressRoute
      allowExternalNameServices: true
      # -- Allows to return 503 when there is no endpoints available
      allowEmptyServices: false
      # -- When the parameter is set, only resources containing an annotation with the same value are processed. Otherwise, resources missing the annotation, having an empty value, or the value traefik are processed. It will also set required annotation on Dashboard and Healthcheck IngressRoute when enabled.
      ingressClass: ""
      # -- See [upstream documentation](https://doc.traefik.io/traefik/reference/install-configuration/providers/kubernetes/kubernetes-ingress/#opt-providers-kubernetesIngress-labelselector)
      labelSelector: ""
      # -- Array of namespaces to watch. If left empty, Traefik watches all namespaces. . When using `rbac.namespaced`, it will watch helm release namespace and namespaces listed in this array.
      namespaces: []
      # -- Defines whether to use Native Kubernetes load-balancing mode by default.
      nativeLBByDefault: false

  volumes:
    - mountPath: /config
      name: '{{ printf "%s-configs" .Release.Name }}'
      type: configMap

  logs:
    access:
      fields:
        headers:
          names: {
            User-Agent: keep
          }

  global:
    checkNewVersion: true
    # -- Please take time to consider whether or not you wish to share anonymous data with us
    # See https://doc.traefik.io/traefik/contributing/data-collection/
    sendAnonymousUsage: false

  # -- Additional arguments to be passed at Traefik's binary
  # See [CLI Reference](https://docs.traefik.io/reference/static-configuration/cli/)
  # Use curly braces to pass values: `helm install --set="additionalArguments={--providers.kubernetesingress.ingressclass=traefik-internal,--log.level=DEBUG}"`
  additionalArguments:
    - --providers.file.filename=/config/traefik-config.yaml
    - --serversTransport.insecureSkipVerify=true
  #  - --providers.kubernetesingress.ingressclass=traefik-internal
  #  - "--log.level=DEBUG"

  # -- Additional Environment variables to be passed to Traefik's binary
  # @default -- See _values.yaml_
  env:
    - name: CF_DNS_API_TOKEN
      valueFrom:
        secretKeyRef:
          key: dns_cloudflare_api_token
          name: acme-provider-api-token-secret

  ports:
    # @schema additionalProperties: false
    traefik:
      port: 9000
    websecure:
      ## -- Enable this entrypoint as a default entrypoint. When a service doesn't explicitly set an entrypoint it will only use this entrypoint.
      # asDefault: true
      port: 8443
      allowACMEByPass: false
      http:
        # -- See [upstream documentation](https://doc.traefik.io/traefik/security/request-path/#encoded-character-filtering)
        encodedCharacters:
          allowEncodedSlash: false
          allowEncodedBackSlash: false
          allowEncodedNullCharacter: false
          allowEncodedSemicolon: false
          allowEncodedPercent: false
          allowEncodedQuestionMark: false
          allowEncodedHash: false
        # -- Maximum size of request headers in bytes. Default: 1048576 (1 MB)
        maxHeaderBytes:  # @schema type:[integer, null]; minimum:0
        # -- See [upstream documentation](https://doc.traefik.io/traefik/security/request-path/#path-sanitization)
        sanitizePath:  # @schema type:[boolean, null]
      tls:
        enabled: true
        options: "default"
        certResolver: "cf-production"
        domains:
          - main: "interpolar.ch"
            sans:
              - "*.interpolar.ch"
          - main: "sharevic.net"
            sans:
              - "*.sharevic.net"
          - main: "kmgetubs19.ch"
          - main: "advents-calendar.org"
            sans:
              - "*.advents-calendar.org"
    metrics:
      # -- When using hostNetwork, use another port to avoid conflict with node exporter:
      # https://github.com/prometheus/prometheus/wiki/Default-port-allocations
      port: 8082
      # -- You may not want to expose the metrics port on production deployments.
      # If you want to access it from outside your cluster,
      # use `kubectl port-forward` or create a secure ingress
      expose:
        default: false
      # -- The exposed port for this service
      exposedPort: 8082
      # -- The port protocol (TCP/UDP)
      protocol: TCP

  # -- TLS Options are created as [TLSOption CRDs](https://doc.traefik.io/traefik/https/tls/#tls-options)
  # When using `labelSelector`, you'll need to set labels on tlsOption accordingly.
  # See EXAMPLE.md for details.
  tlsOptions:
    default:
      minVersion: VersionTLS12
      maxVersion: VersionTLS13
      cipherSuites:
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
      sniStrict: true
      preferServerCipherSuites: true
      curvePreferences:
        - CurveP521
        - CurveP384

  # -- TLS Store are created as [TLSStore CRDs](https://doc.traefik.io/traefik/https/tls/#default-certificate). This is useful if you want to set a default certificate. See EXAMPLE.md for details.
  tlsStore: {}

  service:
    enabled: true
    ## -- Single service is using `MixedProtocolLBService` feature gate.
    ## -- When set to false, it will create two Service, one for TCP and one for UDP.
    single: true
    type: LoadBalancer
    # -- Additional annotations applied to both TCP and UDP services (e.g. for cloud provider specific config)
    annotations: {}
    # -- Additional annotations for TCP service only
    annotationsTCP: {}
    # -- Additional annotations for UDP service only
    annotationsUDP: {}
    # -- Additional service labels (e.g. for filtering Service by custom labels)
    labels: {}
    # -- Additional entries here will be added to the service spec.
    # -- Cannot contain type, selector or ports entries.
    spec:
      externalTrafficPolicy: Local
    # externalTrafficPolicy: Cluster
    # loadBalancerIP: "1.2.3.4"
    # clusterIP: "2.3.4.5"

  persistence:
    # -- Enable persistence using Persistent Volume Claims
    # ref: http://kubernetes.io/docs/user-guide/persistent-volumes/.
    # It can be used to store TLS certificates along with `certificatesResolvers.<name>.acme.storage`  option
    enabled: true
    name: traefik
    #existingClaim: "traefik"
    accessMode: ReadWriteOnce
    size: 128Mi
    storageClass: "microk8s-hostpath"
    #volumeName: "traefik"
    path: /certs
    annotations: {}
    # -- Only mount a subpath of the Volume into the pod
    subPath: ""

  # -- Certificates resolvers configuration.
  # Ref: https://doc.traefik.io/traefik/https/acme/#certificate-resolvers
  # See EXAMPLES.md for more details.
  certificatesResolvers:
    cf-staging:
      acme:
        caServer: https://acme-staging-v02.api.letsencrypt.org/directory
        dnsChallenge:
          provider: cloudflare
          resolvers: 1.1.1.1
        storage: /certs/acme-stageing1.json
    cf-production:
      acme:
        caServer: https://acme-v02.api.letsencrypt.org/directory
        dnsChallenge:
          provider: cloudflare
          resolvers: 1.1.1.1
          propagation:
            delayBeforeChecks: 30s
        storage: /certs/acme1.json

  # -- The service account the pods will use to interact with the Kubernetes API
  serviceAccount:  # @schema additionalProperties: false
    # If set, an existing service account is used
    # If not set, a service account is created automatically using the fullname template
    name: "traefik"
