routes:
  - name: sharevic-waf
    domains:
       - domain: sharevic.net
       - domain: www.sharevic.net
       - domain: interpolar.ch
       - domain: www.interpolar.ch
    port: 80
    dns_resolver: "cf-production"


sharevic-waf:
  replicaCount: 1
  annotations:
    "sidecar.jaegertracing.io/inject": "true"      
  image:
    repository: luechtdiode/nginx-naxsi
    tag: master-1df1bb5
  defaultAffinityRules:
    enabled: false
  network:
    http:
      servicePort: 80
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 0.02
      memory: 32Mi
    limits:
      cpu: 0.2
      memory: 32Mi
  persistence:
    enabled: true
    name: sharevic-data
    storageClass: openebs-hostpath
    accessModes: ReadWriteOnce
    size: 10Mi
    annotations:
      pv.kubernetes.io/bound-by-controller: 'yes'
  volumeMounts:
    - name: nginx-config
      mountPath: /etc/nginx
    - name: sharevic-data
      subPath: error-pages
      mountPath: /usr/html/error-pages  
    - name: sharevic-data
      subPath: terms
      mountPath: /usr/html/terms
  volumes:
    - name: nginx-config
      configMap:
        name: nginx-cm