apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ printf "%s-configs" .Release.Name }}'
  namespace: traefik
data:
  traefik-config.yaml: |
    metrics:
      prometheus:
        addEntryPointsLabels: true
        addRoutersLabels: true
    http:
      middlewares:
        headers-default:
          headers:
            browserXssFilter: true
            contentTypeNosniff: true
            frameDeny: true
            #forceSTSHeader: true
            #stsIncludeSubdomains: true
            #stsPreload: true
            #stsMaxAge: 15552000
