apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: http-route-minio-storj
spec:
  entryPoints:
    - web
  routes:
    - match: HostRegexp(`^minio\.(.+)\.stargate$`)
      kind: Rule
      priority: 5
      services:
        - kind: Service
          name: storj-s3-gateway
          port: http
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: minio-route
  namespace: storj
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  ingressClassName: traefik
  rules:
    - http:
        paths:
          - path: /minio
            pathType: Prefix
            backend:
              service:
                name: storj-s3-gateway
                port:
                  name: http
