pg-admin:
  replicaCount: 1
  image:
    repository: dpage/pgadmin4
    tag: 6.5
  network:
    http:
      containerPort: 80
      servicePort: 8022
  service:
    type: NodePort
  envFrom:
    - secretRef:
        name: pgadmin-secret
  resources:
    requests:
      cpu: 0.5
      memory: 100Mi
    limits:
      cpu: 0.5
      memory: 1Gi
  defaultAffinityRules:
    enabled: false
  persistence:
    enabled: true
    name: pgadmin-data
    storageClass: openebs-hostpath
    accessModes: ReadWriteOnce
    size: 10Gi
    annotations:
      pv.kubernetes.io/bound-by-controller: 'yes'
  volumeMounts:
    - mountPath: /var/lib/pgadmin
      name: pgadmin-data
