routes:
  - name: kutuapp
    domain: kutuapp-test.sharevic.net
    port: 5757
    portSecure: 5757
  - name: kutuapp
    domain: test-kutuapp.sharevic.net
    port: 5757
    portSecure: 5757

kutuapp:
  replicaCount: 1
  image:
    repository: luechtdiode/kutuapp
    tag: v2r3b23-beta8
    pullPolicy: Always
  network:
    metrics:
      servicePort: 3000
      targetPort: http
    http:
      servicePort: 5757
      # ingress:
      #  host: competition.sharevic.net
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 0.125
      memory: 1.5Gi
    limits:
      #cpu: 3.0
      memory: 4.0Gi
  livenessProbe:
    initialDelaySeconds: 5
    timeoutSeconds: 5
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 4
    httpGet:
      path: /metrics
      port: 5757
  readynessProbe:
    initialDelaySeconds: 5
    timeoutSeconds: 5
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 4
    httpGet:
      path: /
      port: 5757
  envFrom:
    - secretRef:
        name: smtp-secret
  env:
    - name: _NAMESPACE
      valueFrom:
        fieldRef:
          fieldPath: metadata.namespace
    #- name: X_DONATION_LINK2
    #  value: "https://donate.stripe.com/4gwcMV1jE3RZ2U8dQQ"
    #- name: X_DONATION_LINK
    #  value: "https://kutuapp.zahls.ch/de/pay?cid=2eaa5545&donation[preselect_amount]=:betrag"
    #- name: X_DONATION_PRICE
    #  value: "0.50"
    #- name: X_DONATION_BEGIN
    #  value: "2024-01-01"
    - name: X_SMTP_SENDERAPPNAME
      value: KuTu App Testsystem
    - name: X_KUTU_SECRET
      valueFrom:
        secretKeyRef:
          name: kutu-postgres-secret
          key: kutusecret
    - name: X_DB_CONFIG_NAME
      value: kutudb_pg
    - name: X_POSTGRES_HOST
      value: postgres
    - name: X_POSTGRES_USER
      valueFrom:
        secretKeyRef:
          name: kutu-postgres-secret
          key: user      
    - name: X_POSTGRES_PASSWORD
      valueFrom:
        secretKeyRef:
          name: kutu-postgres-secret
          key: password
  defaultAffinityRules:
    enabled: false
  persistence:
    enabled: true
    name: kutuapp-data
    accessModes: ReadWriteOnce
    size: 1Gi
    annotations:
      pv.kubernetes.io/bound-by-controller: 'yes'
  volumeMounts:
  - mountPath: /home/kutuapp
    subPath: appdataroot
    name: kutuapp-data
  - mountPath: /home/kutuapp/data
    subPath: data
    name: kutuapp-data
  - mountPath: /home/kutuapp/db
    subPath: db
    name: kutuapp-data
